body{
    margin: none;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
h1 {
    color:white;
}
/*buttons*/
#topButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70vh;
}
#topButtons > button{
    border: none;
    color: black;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
    cursor: pointer;
    margin: 0 10px;
}
.colorChoice{
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 6px 12px;
    margin: 0px 10px;
    cursor: pointer;
}
.optionalButtons {
    border: white 5px;
}
#blackB{
    border:white 5px;
    background: rgb(0, 0, 0);
    color:white;
}
#rgbB{
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.425), rgba(0, 0, 255, 0.438),
     rgba(0, 128, 0, 0.432));
    color:white;
}
#gradualB{
    background: rgb(128, 128, 128);
    color:white;
    
}/* buttons done*/
/*containerwrapper & container */
.gridWrap{
    height:65vh;
    width:65vh;
    min-width: 560px;
    min-height: 560px;
    position:relative;
    border: white double 10px;
    margin: 10px 0px;
}
.gridContainer{
    background-color:white;
    width: 100%;
    height: 100%;
    position: absolute;
    display:grid;
}
.gridContainer > div{
    transition: all 0.7s ease;
}